<html>
	<head><title>This is a blog</title></head>
	
	<body>
		<div>
			<a href = ""><h1>Django Girls Blog</h1></a>
		</div>
		
		<div>
			<p>Published : 1/8/16, 4:00 pm</p>
			<a href = ""><h1>My first post</h1></a>
			<p>This is the first post and the first step of Sahib Navlani towards success. </p>
		</div>
		
		<div>
			<p>Published : 1/8/16, 4:00 pm</p>
			<a href = ""><h1>My second post.</h1></a>
			<p>This is the second post and the second step of Sahib Navlani towards success.</p>
		</div>
			
	</body>
</html>